<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Collection Page</title>
    <!-- Link to external stylesheet -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
<!-- Main content container/background -->
 <div class="background1">
     <!-- Navigation bar -->
        <div class="navbar">
            <!-- Logo -->
            <img src="{{ url_for('static', filename='Logo_GUNew.png') }}" class="logo">
             <!-- Navigation buttons -->
            <a href="Welcome Page.html"><button type="Button">Home</button></a>
            <a href="Information Page.html"><button type="Button">Information</button></a>
            <a href="Data Collection.html"><button type="Button">Data Collection</button></a>
        </div>
      <!-- Main content section -->
         <div class="content2">
              <!-- Survey form -->
                 <form method="post">
                     <h1>Survey</h1>
                     <!-- Personal details section -->
                <div class="userdetails">
                    <h2>Personal details</h2>
                    <!-- Input fields for personal details -->
                    {{ form.First_name.label }} {{ form.First_name }}
                    {{ form.Last_name.label }} {{ form.Last_name }}
                    {{ form.ID_Number.label }} {{ form.ID_Number }}
                </div>
                     <div>
                           <button type='submit' class="quizbutton">Submit</button>
                    </div>
                </form>
         </div>
 </div>
</body>
</html>